* {
    margin: 0;
    background-color: black;
    padding: 0;
}

.interactive__container {
    display: flex;
    flex-direction: column;
    width: 370px;
    margin-top: 120px;
    margin-left: 360px;
    margin-left: 360px;
    height: 380px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(4, 4, 51);
}

.interactive__container-logo {
    margin-bottom: 43px;
    left: 6px;
    background-color: rgb(4, 4, 51);
    margin-left: -280px;
}

#star-container {
    position: relative;
    background-color: rgb(4, 4, 51);
}

#star {
    position: absolute;
    width: 24px;
    margin-left: -11px;
    background-color: rgb(4, 4, 51);   
}


.interactive__container-header {
    background-color: rgb(4, 4, 51);
    margin-bottom: 30px;
    margin-left: -80px;
}

.interactive__container-header h1 {
    color: #fff;
    background-color: rgb(4, 4, 51);
}

.interactive__container-paragraph {
    background-color: rgb(4, 4, 51);
    margin-left: 35px;
}

.interactive__container-paragraph p {
    color: rgb(210, 203, 203);
    width: 100%;
    line-height: 24px;
    background-color: rgb(4, 4, 51);
}

.interactive__container-circles {
    display: flex;
    background-color: rgb(4, 4, 51);
    gap: 20px;
    margin-top: 20px;
}


.number-circle {
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 6px;
    background-color: rgb(4, 4, 51);
    border: 2px solid #666;
    color: rgb(210, 203, 203);
    text-align: center;
    cursor: pointer;
    font: 18px Arial, sans-serif;
}

.number-circle:hover {
   background: #fff;
   color: orange;
}

.interactive__container-button {
    margin-top: 30px;
    background-color: rgb(4, 4, 51);
}

.interactive__container-button button {
    width: 280px;
    height: 40px;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 15px;
    cursor: pointer;
    background: orange;
}

.interactive__container-button button:hover {
    background: #fff;
    color: orange;
}

/* Thank you section */

.thanks__container {
    display: none;
    flex-direction: column;
    width: 370px;
    margin-top: 120px;
    margin-left: 360px;
    margin-left: 360px;
    height: 380px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(4, 4, 51);
}

.thanks__container-image {
    background-color: rgb(4, 4, 51);
    margin-bottom: 30px;
}

#illustration {
    background-color: rgb(4, 4, 51);
}

.thanks__container-badge {
    background-color: rgb(101, 101, 168);  
    border: 1px solid #666 ;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 80px;
}

.thanks__container-badge h2 {
    color: orange;
    font-size: 15px;
    background-color: rgb(101, 101, 168);  
}

span {
    background-color: rgb(101, 101, 168);
    color: orange;  
}

.thanks__container-thankyou {
    background-color: rgb(4, 4, 51);
    margin-top: -30px;
}

.thanks__container-thankyou h3 {
    color: #fff;
    font-size: 22px;
    background-color: rgb(4, 4, 51);
}

.thanks__container-paragraph {
    margin-top: 20px;
    background-color: rgb(4, 4, 51);
    margin-left: 25px;
}

.thanks__container-paragraph p {
    background-color: rgb(4, 4, 51);
    color: rgb(150, 145, 145);
    width: 95%;
    line-height: 24px;
}